*.txt
.vscode/
CPP_09/ex00/btc
CPP_09/ex01/RPN
CPP_09/ex02/PmergeMe
CPP_09/ex02/script.sh
CPP_05/ex00/bureaucrat
CPP_05/ex01/form
CPP_05/ex02/form
CPP_05/ex02/tree_shrubbery
CPP_05/ex03/intern
CPP_05/ex03/tree_shrubbery
CPP_06/ex00/scalarConverter
CPP_06/ex01/serialization
CPP_06/ex02/ex02
CPP_07/ex00/ex00
CPP_07/ex01/iter
